/**
*	Основные стили
*/

html,
body {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	background-color: #f0f0f0;

	display: flex;
	min-height: 100%;
	flex-direction: column;
	// overflow: hidden;
}

.page {
	@include min-max(320px, 100%, 0);
}

.wrap {
	@include min-max(320px, 1200px, 15px);
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
}

p {
	color: $black;
}