/**
*	Основные стили
*/

html, body {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	background-color: #f0f0f0;
}

.page {
	@include min-max(320px, 100%, 0);
}

.container {
	@include min-max(320px, 1200px, 15px);
}

// makeup greed
//@media (max-width: 1200px) {
//	.container {
//		max-width: 970px;
//	}
//}
//
//@media (max-width: 992px) {
//	.container {
//		max-width: 750px;
//	}
//}
//
//@media (max-width: 767px) {
//	.container {
//		max-width: none;
//	}
//}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
}

p {
	color: $black;
}