/**
*	Основные стили
*/

html, body {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
}

.page {
	@include min-max(320px, 100%, 0);
}

.wrap {
	@include min-max(320px, 1200px, 15px);
}

p {
	color: $black;
}