@mixin min-max($min-width, $max-width, $padding) {
	min-width: $min-width;
	max-width: $max-width;
	padding: $padding;
	box-sizing: border-box;
	margin: 0 auto;
}

$maxWidth: 1920;

@mixin font-response($pcSize, $mobSize) {

	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;

	@media (max-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}

	@media (min-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}

}