@mixin min-max($min-width, $max-width, $padding) {
	min-width: $min-width;
	max-width: $max-width;
	padding: $padding;
	box-sizing: border-box;
	margin: 0 auto;
}

@mixin divider($top: 0, $left: 0, $bottom: 0, $h: 4px) {
	content: "";
	position: absolute;
	top: $top;
	left: $left;
	bottom: $bottom;
	height: $h;
	background-image: -webkit-repeating-radial-gradient(center center, #d2d2d2, #d2d2d2 1px, transparent 1px, transparent 100%);
	background-image: repeating-radial-gradient(center center, #d2d2d2, #d2d2d2 1px, transparent 1px, transparent 100%);
	background-color: transparent;
	background-size: 10px 10px;
	background-position: center;
	width: 100%;
	@content;
}
