@charset "UTF-8";

@import "reset";
@import "variables";
@import "fonts";
@import "mixins";
@import "core";

@import "blocks/header";
@import "blocks/desktop-menu";
@import "blocks/mobile-menu";
@import "blocks/slider";
@import "blocks/desktop-submenu";
@import "blocks/sub-menu";
@import "blocks/about-me";
@import "blocks/services";