@charset "UTF-8";

@import "reset";
@import "variables";
@import "fonts";
@import "mixins";
@import "core";

@import "blocks/header";
@import "blocks/desctop-menu";
@import "blocks/mobile-menu";
@import "blocks/slider";
