.about-me {
	padding: 0;
	background: url("../img/bg_about_me.jpg") 20px -15px / cover no-repeat $white;

	position: relative;

	.about-me__box {
		display: flex;
		max-height: 820px;
		margin: -300px auto;


		.about-me__media {
			display: flex;
			position: relative;
			flex: 0 0 570px;
			max-width: 570px;
			align-items: center;

			.about-me__bg {

				img {
					object-fit: cover;
					width: 100%;
				}
			}

			.about-me__img {
				position: absolute;
				left: 60px;
				top: 50%;
				transform: translateY(-50%);

				img {
					object-fit: cover;
					box-sizing: border-box;
					border: 30px solid #f9f9f9;
					width: 100%;
					max-width: 510px;
					box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
				}

			}
		}

		.about-me__content {

			margin: 89px 63px 60px;
			padding: 0 13px;

			h2 {
				font-size: 70px;
				line-height: 60px;
				font-weight: 700;
				text-transform: uppercase;
				color: #8cb877;
			}

			.divider {
				height: 2px;
				background-image: -webkit-repeating-radial-gradient(center center, #c5c5c5, #c5c5c5 1px, transparent 1px, transparent 100%);
				background-image: repeating-radial-gradient(center center, #c5c5c5, #c5c5c5 1px, transparent 1px, transparent 100%);
				background-color: transparent;
				background-size: 10px 10px;
				background-position: center;
				margin: 30px 0 25px;
				border: none;
			}

			p:nth-of-type(1) {
				font-size: 24px;
				line-height: 27px;
				font-weight: 300;
				font-style: italic;
				color: #232323;
			}

			p {
				font-size: 18px;
				line-height: 27px;
				font-weight: 300;
				color: #787878;
				margin-bottom: 15px;
			}

			h4 {
				color: $color-accent;
				font-weight: 400;
				font-size: 45px;
				line-height: 1;
				margin-top: 53px;
			}

			p:last-of-type {
				font-size: 14px;
				line-height: 44px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color: #499cbb;
			}

		}

	}





















}