.about-me {
	padding: 0;
	background: url("../img/bg-about-me-small.jpg") right bottom no-repeat $white;
	position: relative;

	.about-me__box {
		display: flex;
		margin: -300px auto;

		.about-me__media {
			display: flex;
			flex-basis: 55%;
			position: relative;
			max-width: 570px;
			max-height: 820px;


			.about-me__bg {

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}

			.about-me__img {
				position: absolute;
				left: 60px;
				top: 50%;
				transform: translateY(-50%);
				max-width: 510px;
				height: 700px;

				img {
					object-fit: cover;
					box-sizing: border-box;
					border: 30px solid #f9f9f9;
					box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
					width: 100%;
					height: 100%;
				}

			}
		}

		.about-me__content {

			margin: 89px 50px 60px 47px;
			padding: 0 13px;
			flex-basis: 45%;

			h2 {
				font-size: 70px;
				line-height: 60px;
				font-weight: 700;
				text-transform: uppercase;
				color: #8cb877;
			}

			.divider {
				height: 2px;
				background-image: -webkit-repeating-radial-gradient(center center, #c5c5c5, #c5c5c5 1px, transparent 1px, transparent 100%);
				background-image: repeating-radial-gradient(center center, #c5c5c5, #c5c5c5 1px, transparent 1px, transparent 100%);
				background-color: transparent;
				background-size: 10px 10px;
				background-position: center;
				margin: 30px 0 25px;
				border: none;
			}

			p:nth-of-type(1) {
				font-size: 24px;
				line-height: 27px;
				font-weight: 300;
				font-style: italic;
				color: #232323;
			}

			p {
				font-size: 18px;
				line-height: 27px;
				font-weight: 300;
				color: #787878;
				margin-bottom: 15px;
			}

			h4 {
				color: $color-accent;
				font-weight: 400;
				font-size: 45px;
				line-height: 1;
				margin-top: 53px;
			}

			p:last-of-type {
				font-size: 14px;
				line-height: 44px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color: #499cbb;
			}

		}

	}

}

@media (max-width: 1079px) {

	.about-me {
		max-width: 720px;

		.about-me__box {
			display: flex;
			flex-direction: column;
			flex-basis: 100%;
			margin: 40px 0;
			position: relative;

			.about-me__media {
				display: flex;
				flex-basis: 100%;
				max-width: 100%;
				position: relative;

				.about-me__bg {
					width: 100%;

					img {
						object-fit: cover;
						object-position: top;
						width: 100%;
						height: 100%;
					}

				}

				.about-me__img {
					position: absolute;
					left: 0;
					max-width: 100%;
					max-height: 100%;
					height: 100%;
					padding: 30px;
					box-sizing: border-box;

					img {
						object-fit: cover;
						border: 20px solid #f9f9f9;
						box-shadow: 2px 0 30px rgba(0, 0, 0, 0.1);
						width: 100%;
						height: 100%;
					}

				}

				.about-me__content {
					background: $white;
				}

			}

		}
	}

}

@media (max-width: 768px) {

	.about-me {

		.about-me__box {

			.about-me__media {
				margin-bottom: 40px;
			}

			.about-me__content {
				margin: 0;
				padding: 30px;

				h2 {
					font-size: 45px;
				}

			}

		}

	}

}

@media (max-width: 425px) {

	.about-me {

		.about-me__box {

			.about-me__media {
				margin-bottom: 40px;

				.about-me__img {
					padding: 20px;

					img {
						border: 10px solid #f9f9f9;
					}

				}

			}

			.about-me__content {
				margin: 0;
				padding: 30px;

				h2 {
					font-size: 45px;
				}

				h4 {
					font-size: 35px;
				}

			}

		}

	}

}

@media (max-width: 375px) {

	.about-me {

		.about-me__box {

			.about-me__content {
				padding: 25px 20px;
			}

		}

	}

}