.about-me {
	position: relative;

	&__box {
		display: flex;
		justify-content: space-between;
		margin: -300px auto;
		background: $white;
	}

	&__media {
		background: url("../img/images/side_bg_1.jpg") 0 0 / cover $white no-repeat;
		max-width: 451px;
		height: 100%;
		padding: 60px 0 60px 60px;

	}

	&__img {
		max-height: 700px;
		width: 100%;
		border: 30px solid $white;
		//box-sizing: border-box;
		box-shadow: 2px 0 30px rgba(0, 0, 0, 0.1);
	}

	&__content {
		flex-basis: 40%;
		padding: 60px;
	}

	h2 {
		@include font-response(70, 35);
		font-size: 70px;
		line-height: 60px;
		font-weight: 700;
		text-transform: uppercase;
		color: #8cb877;
	}

	.divider {
		height: 2px;
		background-image: -webkit-repeating-radial-gradient(center center, #c5c5c5, #c5c5c5 1px, transparent 1px, transparent 100%);
		background-image: repeating-radial-gradient(center center, #c5c5c5, #c5c5c5 1px, transparent 1px, transparent 100%);
		background-color: transparent;
		background-size: 10px 10px;
		background-position: center;
		margin: 30px 0 25px;
		border: none;
	}

	p:nth-of-type(1) {
		font-size: 24px;
		line-height: 27px;
		font-weight: 300;
		font-style: italic;
		color: #232323;
	}

	p {
		font-size: 18px;
		line-height: 27px;
		font-weight: 300;
		color: #787878;
		margin-bottom: 15px;
	}

	h4 {
		color: $color-accent;
		font-weight: 400;
		font-size: 45px;
		line-height: 1;
		margin-top: 53px;
	}

	p:last-of-type {
		font-size: 14px;
		line-height: 44px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #499cbb;
	}


}