.page {
	&__about-me {
		transform: translateY(-38.6%);
	}
}

.about-me {
	display: flex;
	position: relative;
	max-height: 820px;

	&__box {
		display: flex;
		box-shadow: 2px 0 30px rgba(0, 0, 0, 0.1);
		background: url("../img/side_bg_1.jpg") 0 0 / contain no-repeat $white;
	}

	&__media {
		display: flex;
		max-width: 510px;
		position: relative;
		flex-basis: 50%;
		padding: 60px 0 60px 60px;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		border: 30px solid #f9f9f9;
	}

	&__content {
		flex-basis: 45%;
		padding: 60px;
	}

	&__title-h2 {
		@include font-response(70, 25);
		line-height: 60px;
		font-weight: 700;
		text-transform: uppercase;
		color: #8cb877;
	}

	&__intro {
		font-size: 24px;
		line-height: 27px;
		font-weight: 300;
		font-style: italic;
		color: #232323;
	}

	&__text {
		font-size: 18px;
		line-height: 27px;
		font-weight: 300;
		color: #787878;
		margin-bottom: 15px;
	}

	&__title-h4 {
		color: $color-accent;
		font-weight: 400;
		@include font-response(45, 35);
		line-height: 1;
		margin-top: 53px;
	}

	&__subtitle {
		font-size: 14px;
		line-height: 44px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #499cbb;
	}

}

.divider {
	height: 2px;
	background-image: -webkit-repeating-radial-gradient(center center, #c5c5c5, #c5c5c5 1px, transparent 1px, transparent 100%);
	background-image: repeating-radial-gradient(center center, #c5c5c5, #c5c5c5 1px, transparent 1px, transparent 100%);
	background-color: transparent;
	background-size: 10px 10px;
	background-position: center;
	margin: 30px 0 25px;
	border: none;
}
