.about-me {
	position: relative;
	background: $white;
	margin: -355px auto;
	box-shadow: 2px 0 30px rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 0;

	.media-content {
		position: relative;
		background: url("../img/images/side_bg_1.jpg") 0 0 no-repeat;
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		flex-basis: 40%;
		margin-right: 50px;

		.about-me__ava {

			img {
				display: block;
				max-width: 100%;
				width: 100%;
				border: 30px solid #ffffff;
				margin: 50px;
				box-shadow: 2px 0 30px rgba(0, 0, 0, 0.1);
			}

		}

	}

	.about-me__content {
		flex-basis: 60%;
		padding: 60px;
		box-sizing: border-box;
		margin-left: 50px;

		.about-me__title {

			h2 {
				font-size: 70px;
				color: #669850;
				margin-bottom: 60px;
				text-transform: uppercase;
				position: relative;
			}

		}

		.about-me__text {

			p:nth-of-type(1) {
				font-size: 24px;
				color: #232323;
				margin: 25px 0 40px;
				position: relative;
				font-weight: 300;

				&:before {
					@include divider($bottom: -25px, $top: auto);

				}

				&:after {
					@include divider($top: -25px);
				}

			}

			p:nth-of-type(2) {
				margin-top: 15px;
			}

			p:not(:nth-of-type(1)) {
				margin-bottom: 15px;
				color: $gray-light;
				font-size: 18px;
				font-weight: 300;
				line-height: 27px;
			}

			h4 {
				color: $color-accent;
				font-weight: 400;
				font-size: 45px;
				line-height: 1;
				margin-top: 1em;
			}

			p:last-of-type {
				font-weight: 700;
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color: #2f6686;
			}

		}


	}
}


