.header {

	&__desktop-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__menu {
		display: flex;
		flex-basis: calc(50% - 140px);


		.menu {
			display: flex;
			justify-content: space-between;
			flex-grow: 1;

			&__item {

				a {
					font-family: 'Mulish', sans-serif;
					font-size: 16px;
					color: $white;
					font-weight: bold;
					text-decoration: none;
					text-transform: uppercase;
				}

			}

			&__item.active a::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 3px;
				-webkit-transform: scale(0);
				transform: scale(0);
				background-color: #ffffff;
				opacity: 0;
				transition: all 0.2s ease 0s;
			}

		}
	}

	&__logo {
		width: 269px;
		margin: 0 20px;
	}


}
