.desktop-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	.menu {
		display: flex;

		li.active > a:before, a:hover:before {
			top: -5px;
			transform: scale(1);
			opacity: 1;
		}

		li:last-child > a {
			margin-right: 0;
		}

		li:before {
			content: "";
			position: absolute;
			top: 50%;
			left: -2px;
			margin-top: -3px;
			width: 5px;
			height: 5px;
			border-radius: 5px;
			background-color: #747771;
		}

		li:first-child::before {
			display: none;
		}

		&__item {
			position: relative;

			a {
				font-family: 'Mulish', sans-serif;
				font-size: 16px;
				color: $white;
				font-weight: 700;
				letter-spacing: 0.1em;
				text-decoration: none;
				text-transform: uppercase;
				padding: 50px 0;
				margin: 0 30px;
				position: relative;
			}

			&.active a:before, & > a:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 3px;
				-webkit-transform: scale(0);
				transform: scale(0);
				background-color: #ffffff;
				opacity: 0;
				transition: all 0.2s ease 0s;
			}

			&:first-child > a {
				margin-left: 0;
			}

		}

		.menu__item--dot-none:before {
			display: none;
		}

		li:last-child [class="icon-menu"] {
			display: none;
		}

	}

}

@media (max-width: 1070px) {

	.header__wrap {
		padding: 6px 15px;
	}

	.desktop-menu {

		.menu {

			.menu__item--home a:before {
				display: none;
			}

			.menu__item {

				a.icon-menu {
					display: block;
				}

				&:before {
					display: none;
				}

			}

			li:not([class*="menu__item--home"]) a:not([class="icon-menu"]) {
				display: none;
			}

		}

	}

}

@media (max-width: 430px) {

	.desktop-menu {
		flex-wrap: nowrap;

		.menu {
			.menu__item--home {
				display: none;
			}
		}

	}

}

@media (max-width: 320px) {
	.desktop-menu {
		flex-wrap: nowrap;

		.logo img {
			max-width: 100%;
		}
	}
}



