.header {

	&__desktop-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__menu {

		.menu {
			display: flex;

			li.active > a:before {
				top: 0;
				transform: scale(1);
				opacity: 1;
			}

			&__item {
				position: relative;

				a {
					font-family: 'Mulish', sans-serif;
					font-size: 16px;
					color: $white;
					font-weight: 700;
					letter-spacing: 0.1em;
					text-decoration: none;
					text-transform: uppercase;
					padding: 50px 0;
					margin: 0 30px;
					position: relative;
				}

			}

			& > li:first-child > a {
				margin-left: 0;
			}

			& > li:last-child > a {
				margin-right: 0;
			}

			& > li:before {
				content: "";
				position: absolute;
				top: 50%;
				left: -2px;
				margin-top: -3px;
				width: 5px;
				height: 5px;
				border-radius: 5px;
				background-color: #747771;
			}

			& > li:first-child::before {
				display: none;
			}


			&__item.active a::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 3px;
				-webkit-transform: scale(0);
				transform: scale(0);
				background-color: #ffffff;
				opacity: 0;
				transition: all 0.2s ease 0s;
			}

		}
	}

	&__logo {

	}


}
