.desktop-menu {

	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	z-index: 2;

	.menu {
		display: flex;

		li.active > a:before, a:hover:before {
			top: -5px;
			transform: scale(1);
			opacity: 1;
		}

		li:last-child > a {
			margin-right: 0;
		}

		li:before {
			content: "";
			position: absolute;
			top: 50%;
			left: -2px;
			margin-top: -3px;
			width: 5px;
			height: 5px;
			border-radius: 5px;
			background-color: #747771;
		}

		li:first-child::before {
			display: none;
		}

		&__item {

			position: relative;

			a {
				font-family: 'Mulish', sans-serif;
				font-size: 16px;
				color: $white;
				font-weight: 700;
				letter-spacing: 0.1em;
				text-decoration: none;
				text-transform: uppercase;
				padding: 50px 0;
				margin: 0 30px;
				position: relative;
			}

			&.active a:before, & > a:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 3px;
				-webkit-transform: scale(0);
				transform: scale(0);
				background-color: $white;
				opacity: 0;
				transition: all 0.2s ease 0s;
			}

			&:first-child > a {
				margin-left: 0;
			}

		}

	}

	.burger-line {
		display: none;
		position: relative;

		span:first-child, span:nth-child(2), span:last-child {
			display: block;
			width: 35px;
			height: 3px;
			background-color: $white;
			margin: 6px 0;
			transition: all 0.3s ease 0s;
		}

		&:before {
			content: '';
			position: absolute;
			top: -20px;
			left: -20px;
			bottom: -20px;
			right: -20px;
		}

		&.change span:first-child {
			position: absolute;
			top: 2px;
			transform: rotate(45deg);
		}

		&.change span:nth-child(2) {
			opacity: 0;
		}

		&.change span:last-child {
			position: absolute;
			top: 2px;
			transform: rotate(-45deg);
		}

	}

}

@media (max-width: 1024px) {

	.desktop-menu {

		nav:last-of-type {
			display: none;
		}

		.menu {

			.menu__item {

				a {
					padding: 0;
					margin: 0;

					&:before {
						display: none;
					}

				}

			}

			li:not([class*="menu__item--home"]) {
				display: none;
			}

		}

		.burger-line {
			display: block;
		}

	}

}

@media (max-width: 320px) {
	.desktop-menu {

		.logo img {
			max-width: 100%;
		}
	}
}

.mobile-menu {
	display: none;
}


