.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	height: 128px;


	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);
		z-index: 2;
	}

	&__wrap {
		padding: 20px 15px;
	}

}
