.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	height: 129px;
	transition: all 0.3s ease 0s;
	background-color: rgba(0, 0, 0, .6);

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	&.minimized {

		height: 100px;
		background-color: #232323;

		.header__wrap {

			.desktop-menu {

				.menu__item > a {

					padding: 35px 0;

					.sub-menu__list {
						padding-top: 55px;

						&.open {
							padding-top: 0;

							li:first-child {
								padding-top: 10px;
							}

							li:last-child {
								padding-bottom: 10px;
							}

						}

					}

				}

			}


		}

	}

	&__wrap {
		padding: 0 15px;
		width: 100%;
		margin: inherit;
	}

}

@media (max-width: 1024px) {

	.header {
		display: flex;
		align-items: center;

		&.minimized {

			.header__wrap {

				&.wrap {
					padding: 0 15px;
					width: 100%;
					margin: inherit;
				}

			}

			.mobile-menu {

				.menu.open {
					top: 100px
				}

			}

		}
	}

}

