.mobile-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
	transition: all 0.3s ease 0s;

	.mobile-menu__list {
		top: 0;
		left: 0;
	}

	.menu {
		overflow: hidden;
		height: 0;
		max-height: 0;
		list-style-type: none;
		padding-left: 0;

		& > li {
			text-align: left;
			text-decoration: none;
			margin: 0;
			position: relative;

			a {
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				text-decoration: none;
				color: white;
				padding: 20px 20px 20px 15px;
				border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
				display: block;
				margin: 0 0 0 10px;
			}

		}

		&.open {
			max-height: 100%;
			transition: all 0.4s ease 0s;
			padding-bottom: 30px;
			background-color: rgba(0, 0, 0, 0.75);
			position: fixed;
			top: 129px;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;

			& > li:first-child {
				display: none;
			}

		}

	}

}

@media (max-width: 1024px) {
	body.lock {
		overflow: hidden;
	}

	.mobile-menu {
		display: block;
	}
}

@media (max-width: 430px) {
	.desktop-menu {

		nav {
			display: none;
		}

		.logo img {
			display: block;
			width: 230px;
		}

	}
}


