.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 128px 10px 20px 0;
	transition: all 0.3s ease 0s;

	.menu {
		overflow: hidden;
		height: 0;
		max-height: 0;
		list-style-type: none;
		padding-left: 0;

		li {
			text-align: left;
			text-decoration: none;
			width: 100%;
			margin: 0;
			position: relative;

			a {
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				text-decoration: none;
				color: white;
				padding: 20px 20px 20px 15px;
				border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
				display: block;
				margin: 0 10px 0 10px;

				&:before {
					content: "";
					position: absolute;
					top: 50%;
					left: 10px;
					margin-top: -3px;
					width: 5px;
					height: 5px;
					border-radius: 5px;
					background-color: #747771;
				}

			}

		}

		&.open {
			max-height: 100%;
			transition: all 0.4s ease 0s;
			padding-bottom: 30px;
			background-color: rgba(0, 0, 0, 0.5);
			position: fixed;
			top: 128px;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;

			& {
				li:first-child {
					display: none;
				}
			}

		}

	}

}

@media (max-width: 1024px) {
	body.lock {
		overflow: hidden;
	}

	.mobile-menu {
		display: block;
	}
}

@media (max-width: 430px) {
	.desktop-menu {

		nav {
			display: none;
		}

		.logo img {
			display: block;
			width: 230px;
		}

	}
}



