.services {

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		flex-basis: 32%;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__body {
		padding: 50px;
		text-align: center;
		height: 100%;

		&--left {
			background: url(../img/texture_color_4.jpg) center / cover no-repeat;
		}

		&--center {
			background: url(../img/texture_color_2.jpg) center / cover no-repeat;
		}

		&--right {
			background: url(../img/texture_color_3.jpg) center / cover no-repeat;
		}

	}

	&__title {
		@include font-response(35, 18);
		line-height: 35px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}

	&__divider {
		width: 75px;
		height: 18px;
		background-image: url(../img/icon-divider.png);
		background-color: transparent;
		margin: 15px auto;
		border: none;
	}

	&__text {
		opacity: 0.74;
		font-size: 18px;
		line-height: 27px;
		font-weight: 300;
		color: #ffffff;
	}

	&__footer {
		padding: 20px 55px;
		background-color: #ffffff;
		text-align: center;

		&--left {
			box-shadow: 0 5px 0 #53963e;

			a {
				color: #53963e;
			}
		}

		&--center {
			box-shadow: 0 5px 0 #7f3c6c;

			a {
				color: #7f3c6c;
			}
		}

		&--right {
			box-shadow: 0 5px 0 #3394b6;

			a {
				color: #3394b6;
			}
		}

	}

	&__link {
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;

		&:hover {
			opacity: .7;
		}

	}

}

@media (max-width: 1024px) {

	.services {

		&__row {
			flex-wrap: wrap;
			justify-content: space-around;
		}

		&__item {
			flex-basis: 48%;
			margin-bottom: 25px;
		}

		&__body {
			height: 100%;
			padding: 35px;
		}

	}

}

@media (max-width: 767px) {

	.services {

		&__item {
			flex-basis: 100%;
		}

	}

}