.services {
	padding-top: 45px;

	.services__row {
		display: flex;
		justify-content: space-between;

		.services__item {
			display: flex;
			flex-direction: column;
			flex: 0 1 32%;
			margin-bottom: 20px;

			.services__image {
				// line-height: 0;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.services__body {
				background: url(http://webdesign-finder.com/html/makeup/img/texture_color_4.jpg) center / cover no-repeat;
				padding: 50px;
				text-align: center;

				h2 {
					@include font-response(35, 18);
					line-height: 35px;
					font-weight: 700;
					text-transform: uppercase;
					color: #ffffff;
				}

				.icon-divider {
					width: 75px;
					height: 18px;
					background-image: url(../img/icon-divider.png);
					background-color: transparent;
					margin: 15px auto;
					border: none;
				}

				p {
					opacity: 0.74;
					font-size: 18px;
					line-height: 27px;
					font-weight: 300;
					color: #ffffff;
				}

			}

		}

		.services__footer {
			padding: 20px 55px;
			background-color: #ffffff;
			text-align: center;

			a {
				font-size: 15px;
				font-weight: 700;
				text-transform: uppercase;

				&:hover {
					opacity: .8;
				}

			}

			&.services__footer_color-item-left {
				box-shadow: 0 5px 0 #53963e;

				a {
					color: #53963e;

					&:hover {
						opacity: .8;
					}

				}

			}

			&.services__footer_color-item-center {
				box-shadow: 0 5px 0 #7f3c6c;

				a {
					color: #7f3c6c;

					&:hover {
						opacity: .8;
					}

				}

			}

			&.services__footer_color-item-right {
				box-shadow: 0 5px 0 #3394b6;

				a {
					color: #3394b6;

					&:hover {
						opacity: .8;
					}

				}

			}

		}

	}

}