.services {
	padding: 30px 0;

	.services__row {
		display: flex;
		justify-content: space-between;

		.services__item {
			flex: 0 0 32%;


			.services__image {
				max-height: 256px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.services__body {
				position: relative;

				img {
					width: 100%;
				}

				.services__content {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					text-align: center;
					width: calc(100% - 110px);



					h2 {}

					hr.icon-divider {}

					p {}

				}

			}

			.services__footer {

				a {}

			}

		}

	}

}