.slick-slider {

	.slick-arrow {
		position: absolute;
		top: 50%;
		margin: -30px 0px 0px 0px;
		z-index: 10;
		font-size: 0;
		width: 30px;
		height: 60px;

		&.slick-prev {
			left: 0;
			background: url('../img/sl-arrow_l.png') 0 0 / 100% no-repeat;
			border: transparent;
			cursor: pointer;
			outline: none;
		}

		&.slick-next {
			right: 0;
			background: url('../img/sl-arrow_r.png') 0 0 / 100% no-repeat;
			border: transparent;
			cursor: pointer;
			outline: none;
		}

		&.slick-disabled {
			opacity: 0.2;
		}

	}

	.slick-list {
		overflow: hidden;

		.slick-track {
			display: flex;
			align-items: flex-start;

			.slider__item {
				position: relative;

				img {
					width: 100%;
					object-fit: cover;
					height: 1290px;
				}

				.slider__content {
					position: absolute;
					top: calc(100vh / 2);
					left: 50%;
					transform: translate(-50%, -50%);
					text-align: center;
					display: inline-block;
					width: 100%;

					.slider__title {
						position: relative;
						display: block;

						h1 {
							@include font-response(150, 38);
							font-weight: 400;
							color: $white;
							text-transform: uppercase;
						}

					}

					.slider__divider {
						background: url("../img/dividers.png") 50% 0 no-repeat;
						height: 10px;
						width: 100%;
						margin: 60px 0 50px 0;
					}

					.slider__sub-title {
						h2 {
							@include font-response(45, 28);
							color: $white;
							font-style: italic;
							font-weight: 700;
						}

					}

				}

			}

		}

	}

}

@media (max-width: 1175px) {

	.slick-slider {

		.slick-list {

			.slick-track {

				.slider__item {

					.slider__content {

						.slider__divider {
							display: block;
							width: 60%;
							margin: 30px auto;
						}

					}

				}

			}

		}

	}

}

@media (max-width: 1024px) {

	.slick-slider {

		.slick-list {

			.slick-track {

				.slider__item img {
					height: 100vh;
				}

			}

		}

	}

}

@media (max-width: 790px) {

	.slick-slider {

		.slick-list {

			.slick-track {

				.slider__item {

					.slider__content {

						.slider__divider {
							display: block;
							width: 60%;
							margin: 30px auto;
						}

					}

				}

			}

		}

	}

}

@media (max-width: 560px) {

	.slick-slider {

		.slick-list {

			.slick-track {

				.slider__item {

					.slider__content {

						.slider__divider {
							margin: 20px auto;
						}

					}

				}

			}

		}

	}

}