.sub-menu__list {
	display: none;
	margin-left: 30px;
	position: absolute;
	top: 20px;
	padding-top: 70px;
	min-width: 200px;

	.sub-menu__item {

		background-color: $white;
		padding: 10px 30px;
		white-space: nowrap;
		position: relative;

		&:first-child {
			padding-top: 25px;
		}

		&:first-child:before {
			display: none;
		}

		&:last-child {
			padding-bottom: 40px;
			background: url("../img/menu-flowers-bg.png") 50% 100% / 100% no-repeat $white;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 30px;
			right: 30px;
			height: 2px;
			background-image: -webkit-repeating-radial-gradient(center center, #eaeaea, #eaeaea 1px, transparent 1px, transparent 100%);
			background-image: repeating-radial-gradient(center center, #eaeaea, #eaeaea 1px, transparent 1px, transparent 100%);
			background-size: 8px 8px;
			background-position: center;
		}

		a {
			display: block;
			margin: 0;
			padding: 10px 0 10px 20px;
			color: $black;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-weight: 700;

			&:hover {
				color: $color-accent;
			}

			&:hover:before {
				background: url("../img/menu-icon-active.png") 0 0 no-repeat;
			}

			&:before {
				content: "";
				position: absolute;
				background: url("../img/menu-icon.png") 0 0 no-repeat;
				width: 12px;
				height: 12px;
				left: 25px;
			}

		}

	}

	&.open {

		li:last-child {
			background: url("../img/menu-flowers-bg.png") 50% 100% / 100% no-repeat $white;
			bottom: 0;
			padding-bottom: 40px;
		}

		li > a {
			color: $black;
			text-transform: none;
		}

	}

}

.arrow {
	display: none;
	position: absolute;
	right: 10px;
	top: 5px;
	color: $white;
	font-size: 14px;

	&.active {
		transform: translateY(-50%);
		transform: rotate(-180deg);
		transition: all 0.3s ease 0s;
	}

}

body.mouse .menu > li:hover .sub-menu__list {
	display: block;
}

body.mouse .menu > li:hover .sub-sub-menu__list {
	display: block;
}

body.touch .sub-menu__list.open {
	display: block;
}

body.touch .sub-sub-menu__list.open {
	display: block;
}

body.touch .arrow {
	display: block;
}

@media (max-width: 1200px) {
	.arrow {
		right: 4px;
	}

}

@media (max-width: 1024px) {

	body.mouse {

		.menu {

			li:hover .sub-menu__list {
				display: none;
			}

		}

	}

	body.touch {

		.sub-menu__list {
			position: relative;
			margin-left: 0;
			padding-top: 0;
			top: 0;
			left: 0;

			&.open {

				li:first-child {
					padding-top: 10px;
				}

				li:last-child {
					background-image: none;
					background-color: $white;
					width: inherit;
					padding-bottom: 10px;
				}

			}

		}

		.arrow {
			top: 22px;
			right: 20px;
		}

	}

}