.sub-menu__list {
	display: none;
	margin-left: 30px;
	position: absolute;
	top: 20px;
	padding-top: 70px;
	min-width: 200px;

	& > li {
		background-color: $white;
		padding: 10px 30px 10px 30px;
		white-space: nowrap;
		position: relative;

		&:first-child {
			padding-top: 25px;
		}

		&:last-child {
			padding-bottom: 25px;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 30px;
			right: 30px;
			height: 2px;
			background-image: -webkit-repeating-radial-gradient(center center, #eaeaea, #eaeaea 1px, transparent 1px, transparent 100%);
			background-image: repeating-radial-gradient(center center, #eaeaea, #eaeaea 1px, transparent 1px, transparent 100%);
			background-size: 8px 8px;
			background-position: center;
		}

		&:first-child:before {
			display: none;
		}

	}

	&.open {

		li > a {
			color: $black;
		}

	}

	.sub-menu__item {

		a {
			display: block;
			margin: 0;
			padding: 10px 0;
			color: $black;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-weight: 700;

			&:hover {
				color: #d02954;
			}

		}

	}

}

.arrow {
	display: none;
	position: absolute;
	right: 7px;
	top: 50%;
	width: 0;
	height: 0;
	border-top: 8px solid $white;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;

	&.active {
		transform: rotate(-180deg);
		transition: all 0.3s ease 0s;
	}

}

.menu__arrow {
}

body.mouse .menu > li:hover .sub-menu__list {
	display: block;
}

body.mouse .menu > li:hover .sub-sub-menu__list {
	display: block;
}

body.touch .sub-menu__list.open {
	display: block;
}

body.touch .sub-sub-menu__list.open {
	display: block;
}

body.touch .arrow {
	display: block;
}

@media (max-width: 1024px) {

	body.touch {

		.sub-menu__list {
			position: relative;
			margin-left: 0;
			padding-top: 0;
			top: 0;
			left: 0;

			&.open {

				li {

					a {
						text-transform: none;
						padding: 10px;

						&:before {
							content: "-";
							padding-right: 5px;
						}

					}

				}

			}

		}

		.arrow {
			top: 22px;
			right: 20px;
		}

	}

}






